<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ARMOYU</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>armoyuflutter</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Uygulama, sesli mesaj ve video kaydı alabilmek için mikrofona erişim istemektedir. Bu izin, sesli iletişim ve video kayıtlarını almanızı ve paylaşmanızı sağlar.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Uygulama, paylaşımlarınız için fotoğraf seçebilmeniz için fotoğraf kitaplığınıza erişim istemektedir. Bu izin, uygulama içinde fotoğraf seçmenizi ve paylaşmanızı sağlar.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Uygulama, paylaşımlarınıza konum bilgisi ekleyebilmeniz için kullanım sırasında konum erişimi istemektedir. Bu izin, konum tabanlı içerik oluşturmanıza ve paylaşmanıza yardımcı olur.</string>
	<key>NSCameraUsageDescription</key>
	<string>Uygulama, barkod okutma, QR kodu tarama ve ek olarak video ve fotoğraf çekme işlevleri için kameranıza erişim istemektedir. Bu izinler, uygulamanın çeşitli işlevlerini gerçekleştirmesi ve kullanıcı deneyimini geliştirmesi için gereklidir.</string>
	<key>NSContactsUsageDescription</key>
	<string>Uygulama, rehberinizdeki kişilerin kullanımını öne çıkarmak için erişim istemektedir. Bu izin, rehberinizdeki kişilerin uygulama içinde daha kolay bulunmasını ve etkileşime girmenizi sağlayacaktır.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Uygulama, etkinlikleri takviminizle senkronize etmek ve planlamak için erişim istemektedir. Bu izin, etkinlikleri görüntülemenize, oluşturmanıza ve düzenlemenize yardımcı olacaktır.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Uygulama, doğrulama ve cihazlar arası eşleştirme gibi özellikler için Bluetooth özelliklerini kullanmak istemektedir. Bu izin, uygulamanın cihazlar arasında güvenli iletişim kurmasını ve doğrulama işlemlerini gerçekleştirmesini sağlar.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Uygulama, kendi galerisini görüntüleyebilmesi için cihazınızdaki medya kütüphanesine erişim istemektedir. Bu izin, uygulamanın kullanıcıların kendi medya içeriğine erişmesini ve içeriği yönetmesini sağlar.</string>
	<key>NSMotionUsageDescription</key>
	<string>Uygulama, örneğin bir kutunun açılabilmesi için cihazın sallanması gibi işlevler için hareket sensörlerine erişim istemektedir. Bu izin, uygulamanın kullanıcı hareketlerine tepki vermesini ve belirli eylemleri gerçekleştirmesini sağlar.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Uygulama, konuşma tanıma özelliğini kullanarak sesli komutları algılamak ve işlemek için erişim istemektedir. Bu izin, uygulamanın kullanıcıların sesli komutlarını tanıyabilmesini ve bu komutlara yanıt verebilmesini sağlar.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Uygulama, konumunuzu her zaman ve kullanım sırasında kullanarak, örneğin harita üzerinde nerede olduğunuzu görmeleri gibi oyunsal faaliyetler için erişim istemektedir. Bu izin, uygulamanın konumunuzu belirlemesini ve oyunsal deneyimlerde kullanılmasını sağlar.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Uygulamanın Bluetooth&apos;u her zaman kullanarak sürekli cihazlarla etkileşim kurması gerekiyor. Bu izin, uygulamanın Bluetooth bağlantılarını sürdürmesini ve arka planda cihazlarla iletişim kurmasını sağlar.</string>
	<key>NSPrivacyAccessedAPITypes</key>
	<string>Uygulama, fotoğraf ve video çekimi için kamera erişimine ihtiyaç duyar. Kullanıcı izni olmadan kamera özelliği kullanılamaz. Bu izin, kullanıcıların fotoğraf ve video çekimi yapmasına ve uygulama içinde paylaşmasına olanak tanır.</string>
	<key>NSPrivacyAccessedAPICategoryFileTimestamp</key>
	<string>Uygulama, belirli API&apos;lere erişim sağlayarak işlevselliğini geliştirmek veya belirli bir özelliği sağlamak için bu API&apos;ye ihtiyaç duyuyor.</string>
	<key>NSPrivacyAccessedAPICategoryDiskSpace</key>
	<string>Uygulama, disk alanı yönetimi için gereken işlevselliği sağlamak amacıyla NSPrivacyAccessedAPICategoryDiskSpace API&apos;sine erişim talep etmektedir.</string>
	<key>NSPrivacyAccessedAPICategorySystemBootTime</key>
	<string>Uygulama, sistem başlangıç zamanıyla ilgili bilgilere erişim sağlamak amacıyla NSPrivacyAccessedAPICategorySystemBootTime API&apos;sini kullanmaktadır.</string>
	<key>NSPrivacyAccessedAPICategoryUserDefaults</key>
	<string>Uygulama, kullanıcı tercihleri ve ayarlarını depolamak ve yönetmek için NSPrivacyAccessedAPICategoryUserDefaults API&apos;sine erişim talep etmektedir.</string>
</dict>
</plist>
